@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
      @apply bg-[#141c3c] text-gray-300 md:mx-16;
    }
    .no-scrollbar::-webkit-scrollbar {
        display: none;
      }
      
      .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
      }
    
  }